/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f3f3f3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 95px; Place content 60px from the top */
    padding: 83px 10px 10px 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .nav-link {
    padding: 8px 8px 8px 17px;
    text-decoration: none;
    font-size: 20px;
    color: #2f005a;
    display: block;
    transition: 0.3s;
    margin: 10px 0px;
  }

  .drawer-collapse {
    width: 70px;
  }

  .icon {
    margin-right: 24px;
    height: 33px;
    width: auto;
  }
  
  /* When you mouse over the navigation links, change their color */
  .nav-link:hover {
    color: #5a0081;
    border-radius: 10px;
    background-color: gainsboro;
  }

 .active {
    color: indigo;
    border-radius: 10px;
    background-color: lightgrey;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .nav-link {font-size: 18px;}
  }