.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 0px 17px; */
}

.drawer-ico {
    margin: 0px 10px;
}

.signin-model {
    position: absolute;
    top: 72px;
    right: 12px;
    width: 248px;
}
.hide {
    display: none;
}